
.blog {
    margin-right: 125px;
}

.blog-body  {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    column-gap: 15px;
    row-gap: 15px;
    margin-top: 25px;
}
.blog-card {
    font-size: 75%;
    padding: 5px 25px 25px 25px;
    text-decoration: none;
    color: rgb(29, 29, 29);
}

.blog-card.fill-div {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;

}

.blog-card h2 {
    margin-bottom: 0px;
    font-weight: 500;
    color: rgb(107, 107, 107);
}

.blog-card p {
    color:rgb(107, 107, 107);
    font-weight: 350;
}

@media screen and (max-width: 850px) {
    .blog-body  {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        margin-right: -10px; 
        margin-left: -10px;
    }

    .blog-body p {
        font-size: 1rem;

    }

    .blog {
        margin-right: 25px;
    }

}