
.blog {
    margin-right: 125px;
}

.blog-body  {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    column-gap: 25px;
    row-gap: 25px;
    margin-top: 25px;
}
.blog-card {
    font-size: 75%;
    padding-bottom: 25px;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 5px;
    text-decoration: none;
    /* border-style: none solid none solid;
    border-radius: 25px;
    border-color: rgb(209, 208, 208);
    border-width: 2px; */
    /* margin-right: 150px; */
}

.blog-link.fill-div {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;

}

.blog-body h2 {
    font-weight: normal;
    margin-bottom: 0px;
}

.blog-card p {
    color:rgb(107, 107, 107);
}

@media screen and (max-width: 850px) {
    .blog-body  {
        display: flex;
        flex-direction: column;
        margin-top: 50px;
    }


    .blog-body {
        margin-right: 0px; 
        margin-left: 0px;
    }

    .blog {
        margin-right: 25px;
    }

}