/* burger styling */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu');
.bm-burger-button {
    position: fixed;
    width: 30px;
    height: 15px;
    right: 100px;
    top: 40px;
  }

.bm-cross-button {
    height: 24px;
    width: 24px;

}
.bm-cross {
    background: #1f2020;
  }
.bm-menu a {
color: #423c3c;
text-decoration: None;
padding: 1em;
transition: all .2s ease-in;
}
.bm-menu a:hover {
    color:rgb(163, 172, 180);
}

.bm-burger-bars {
  background: #e0e1e4;
}
.bm-menu {
    background: #f3f3f5;
    padding: 5em 1.5em 0 1.5em;
    /* padding-left: auto; */
    /* padding-right: auto; */
    font-size: 4vmin;
    text-align: center;
}

.bm-item {
display: inline-block;
}

.Navbar {
    text-align: center;
    box-shadow: 0 3px 10px 3px rgba(0,0,0,.2);
    /* background-image: linear-gradient(to right, #1f1c2c, #928dab); */
    background-image: linear-gradient(to right, #525252, #3d72b4);
    /* background-image: linear-gradient(to right, #757f9a, #d7dde8); */
    display: flex;
    color: white;
    padding-left: 10%;
    padding-top: 25px;
    height: 50px;
    position: sticky;
    z-index: 5;
    top: 0;
}

.navHeader {
    align-items: center;
    transition: all .2s ease-in;
}

.navHeader h1 {
    margin-top: 0px;
    font-weight: 800;
    font-family: 'Ubuntu', sans-serif;
    letter-spacing: 3px;
}

.navHeader:hover {
    text-decoration: underline;
}

.nav-list {
    display:flex;
    align-items: center;
    justify-content: space-around;
    width: 450px;
    list-style: none;
    font-size: 20px;
}

.nav-list li {
    transition: all .1s ease-in;
}

.nav-list li:hover {
    font-weight: bold;
}

@media screen and (max-width: 850px) {
    .nav-list {
        display: none
    }
    .bm-burger-button {
        position: fixed;
        right: 25px;
        top: 35px;
    }

    .navHeader h1 {
        font-size: 1.3rem;
        padding-top: 5px;
    }

    .Navbar {
        padding-left: 15px;
    }

    .bm-menu {
        font-size: 30px;
        text-align: right;
        padding-top: 3em;
    }
    
}