
.project-container {
    display:flex;
    justify-content: flex-end;
    align-items: flex-start;

}



.proj-cell .body {
    margin-bottom: 5%;
    margin-left: 5%;
    padding-left: 2%;
    border-style: none none none solid;
    border-left-width: 2px;
    border-left-color:rgb(138, 138, 138);

}

.img-container {
  position: relative;
  max-width: 500px;
}

.proj-cell h3 {
    color:rgb(0, 0, 0);
    margin-bottom: 5px;
    font-weight: normal;
}

.proj-cell span {
    margin-top: -100px;
    padding-bottom: 100px;
    display: block;
}

.proj-cell h5 {
    font-weight: lighter;
    margin-top: 0;
}

.proj-cell .body p {
    color:rgb(138, 138, 138);
    font-size: 1em;
    padding-right:15%;
    /* margin-right: 50%; */
}

.img-container-img-wrapper {
  object-fit: cover;
}

.img-container:hover .img-container-img-wrapper{
  transition: 0.5s;
  opacity: 0.1;
}

.img-container:hover .overlay {
  opacity: 1;
  visibility: visible;
}

.overlay {
  position: absolute;
  max-width: 80%;
  visibility: hidden;
  display: inline-block;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.overlay .ghlogo {
    transition: .1s; 
    max-width:75px;
}
.overlay .bloglogo {
    max-width: 102px;
    padding-left:20px;
    transition: .1s;
}
.overlay .ghlogo:hover {
    max-width: 103px;
    z-index: 1;
}

.overlay .bloglogo:hover {
    max-width: 130px;
    z-index: 1;
}


@media screen and (max-width: 850px) {
    .project-container {
        display:flex;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
    }
    .proj-cell {
        display:flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
    }
    .proj-cell .body {
        border-style: none;
        margin: 0;
        padding: 0;
    }
    .proj-cell .body p {
        font-size: 4vmin;

    }
    .proj-cell img {
        margin-right: 0px;
    }
    /* .overlay .ghlogo:hover {
        max-width: 90px;
        z-index: 1;
    }

    .overlay .bloglogo:hover {
        max-width: 120px;
        z-index: 1;
    } */
    .overlay .ghlogo {
        max-width: 3rem;
        padding-right:5px
    }
    .overlay .bloglogo {
        max-width: 4rem;
        padding-left:10px;
    }

}



