/*General styling for resume page*/
#resume-all {
    display:flex;
    justify-content: space-around;
    align-items: flex-start;
    margin-bottom: 270px;

}
.side-nav-resume {
    padding-top: 50px;
    padding-right: 50px;
    width: 600px; 
}
.resume-content-span {
    margin-top: -50px;
    padding-bottom: 50px;
    display: block;
}

.resume-content {
    padding-right: 50px;
}

/* .resume-header {
    position: sticky;
    top: 75px;
    z-index: 3;
    background-color: rgb(255, 255, 255);
} */
.resume-header h3 {
    color: rgb(0, 0, 0);
    font-weight: normal;
    text-align: center;
    margin-right: 25%;
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 25px;
}

.work-exp-cell { 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.work-exp-content {
    width: 85%;
}

.work-desc-card {
    margin-top: 2px; 
}

/* .work-exp-cell header p{
    margin-bottom: 0;
} */


.work-exp-cell h4 {
    text-align: left;
    margin-right: 10%;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: normal;
    font-size: 2.5vmin;
    /* font-size: 18px; */
}

.work-exp-cell p {
    color: rgb(95, 95, 95)
}

#date {
    font-weight: normal;
}

#company {
    font-style: italic;
}

.work-exp-cell h3 {
    margin-bottom: 5px;
    /* font-size: 25px; */
}

.work-exp-content .list li{
    padding: 10px 15px 10px 15px;  
    font-size: 15px;
    font-weight: normal;

}
.work-exp-content .list {
    margin-left: 0;
    padding-left: 0;
    list-style: none;
}
.accd-summary-proj {
    font-weight: normal;
    font-size: 15px;

}

.accd-details-proj {
    font-weight: normal;
    font-size: 15px;
    color: rgb(138, 138, 138);
}


.skill-group {
    /* height: 500px  */
    width:100%; 
    overflow: hidden;
}


/* Styling for Skills */
.skill-group-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: hidden;
    margin-bottom:0px;
}
.skill-group-container > div {
    flex:50%; 
}

/* Styling for publications*/
#publications li {
    padding-bottom: 20px;
    font-size: 3vmin;
}

#publications ul {
    list-style: none;
    margin-left: 0px;
    padding-left: 0px;
}

@media screen and (max-width: 850px) {
    .work-exp-content {
        width: 100%;
    }
    #resume-all {
        margin-bottom: 25px;
    }
    .work-exp-cell h4 {
        font-size: 3.5vmin;
    }

    .skill-group-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .skill-group-container > div {
        flex: 100%;
    }

    .skill-group {
        width: 75%;
    }
    .resume-content {
        padding-right: 0px;
    }
    .work-exp-content .list li{
        font-size: 3vmin;
    }

    .accd-summary-proj {
        font-size: 3vmin;
    }
    .accd-details-proj {
        font-weight: normal;
        font-size: 3vmin;
    }
}