.App {
  background-color: rgb(255, 255, 255);
  /* min-height: 100vh; */
}

.section-header {
  text-align: left;
  padding-top: 5px;
  color: rgb(39, 38, 38);
}

.section-header h1 {
  margin-bottom: 0;
}

.section-header h3  {
  color:rgb(138, 138, 138);
  font-weight: normal;
  margin-top: 5px;
  margin-bottom: 3%;
}

.section-header p {
  font-size: calc(20px + vmin);
  margin-right: 25%;
  text-align: justify;
}

.section-body {
  padding-left: 20%;
  padding-top: 25px;
  margin-bottom: 150px;
}
.home {
  margin-right: 20%;
  margin-top: 5%; 
}
.channels {
  display: flex;
  flex-direction: row;
}


.side-nav {
    margin-right: 10%;
    padding-top:25px;
    position: sticky;
    top: 100px; 
    /* border-style: none none none solid; */
}

.side-nav li{
    margin: 20px 0;
    list-style: none;
    font-size: 18px;
    color: rgb(39, 39, 39);

}

.side-nav h3{
    margin-left: 20px;
    font-weight: normal;    
    font-size: 25px;
    color:rgb(109, 108, 108);    
}

 
/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* .App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}  */
